<%- include("header"); -%>

<h1 class="header">This is the about page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam mollitia enim adipisci repudiandae doloribus omnis animi id velit asperiores praesentium autem quis recusandae tempora odio commodi corrupti, corporis doloremque necessitatibus?</p>

<%- include("footer"); -%>